

  .home,
  .about,
  .tech-stack,
  .works, 
  .clients, 
  .contact {
    h1 {
      font-size: 3rem;
    }

  }

.home {
  .s-0,
  .s-1,
  .s-2 {
    align-items: flex-start;
  }

  .contents {
    flex-direction: row;
  }

  h1 {
    
    min-width: 23rem;
    text-align: left;
  }

  .image {
    padding: 4rem;
    width: 65%;
    height: 30rem;
    background-image: url(/images/profile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    transition: opacity 0.5s ease-in-out;

    border: 0.1rem solid var(--foreground);
    border-radius: 0.2rem;
    

  }
  
  .contents {
    gap: 2rem;
  }

  .s-2 {
    justify-content: space-evenly;
    position: absolute;
    margin: 0;
    top: 50%;
    right: 5.4rem;
    -webkit-transform: translate3d(0, -50%, 0);
    -ms-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
}

.about {
  .banner-container {
      background: var(--tertiary);  
      
      .banner-overlay {
        background: #000000a7;
      }
  }
  h1{
    margin-bottom: 3rem;
  }

  .s-0 {
    gap: 8rem;

    .stat-box {
      text-align: center;
      font-size: 5rem;
      font-weight: 600;
      color: var(--foreground);
      overflow: hidden !important;
  
      p {
        margin-top: 0.5rem;
        font-size: 1.5rem;
      }
    }
  }
    
}

.tech-stack {
  .banner-container {
    background-image: url(/images/banner_4.jpg);

    .banner-overlay {
      background: #000000cd;
    }
  }
  .s-0 {
    margin-bottom: 1rem;
    justify-content: flex-start;

  }
  h3 {
    
    background: var(--tertiary);
    padding: 1rem;
    border-radius: 0.5rem;
    border-left: 4px solid var(--foreground);
    margin-bottom: 1rem;
  }

  ul {
    list-style: none;
    display: inherit;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    flex-wrap: wrap;
    border: dashed 0.1rem var(--foreground);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    min-width: 18rem;
    transition: background 0.5s ease, color 0.5s ease; 

      &:hover {
        color: var(--tertiary);
        background: var(--foreground);

        .stack-icon {
          color: var(--tertiary);
        }
      }

    li {
      padding:  0 1rem;
      align-items: center;

      .stack-icon {
        font-size: 3rem;
        margin-right: 1rem;
      }
    }
  }
}

.clients {

  .banner-container {
    background-image: url(/images/banner_3.jpg);
    
    .banner-overlay {
      background: #675252be;
    }
  }

  .sensor {
    max-width: 90vw;
    padding: 1rem;
    background: var(--background);
  }
}

.contact {
  .s-0 {
    .icon-bubble {
      width: 3.8rem;
      height: 3.8rem;
      .contact-icon {
        font-size: 2rem;
      }
    }
  }
}
